<h1>New Summary</h1>
 

   <div class="col-md-8">
     <%= form_for @summary do |f| %>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Summary" %>
       </div>
       <div class="form-group">
         <%= f.label :post_id %>
         <%= f.text_area :post_id, rows: 1, class: 'form-control', placeholder: "Enter Post ID" %>
         </div>
    
    <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>

